@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Space+Grotesk:wght@300;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}
